* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
* body {
  padding: 70px 0 0 0;
  background-color: #242222;
  font-family: Arial, sans-serif;
  color: #faf8f8;
}
* body h1 {
  color: #f0ea97;
  margin: 20px;
  padding: 20px;
}

.main_start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: url(../assets/images/Campo1.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-position: top;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.main_start:hover {
  color: #fdff97;
  background-color: rgba(143, 149, 143, 0.2549019608);
}

h1.distintivo {
  font-size: 5rem;
  margin-bottom: 3rem;
  color: #feffca;
  font-family: IHaettenschweile;
  font-weight: 900;
  text-align: center;
  text-shadow: 2px 3px #131212;
  padding: 1em;
  background-color: rgba(18, 19, 18, 0.2549019608);
  border-radius: 10px;
}
@media (max-width: 576px) {
  h1.distintivo {
    font-size: 2.2rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  h1.distintivo {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  h1.distintivo {
    font-size: 3rem;
  }
}

a.bandcamp {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  color: #faf8f8;
  border: 1px solid rgb(245, 253, 206);
}
a.bandcamp:hover {
  color: #fdff97;
  background-color: rgba(143, 149, 143, 0.2549019608);
}
@media (max-width: 576px) {
  a.bandcamp {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  a.bandcamp {
    font-size: 1.1rem;
    padding: 0.45rem 0.9rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  a.bandcamp {
    font-size: 1.15rem;
    padding: 0.5rem 1rem;
  }
  a.bandcamp:hover {
    color: #fdff97;
    background-color: rgba(20, 20, 20, 0.6);
  }
}

.main__band, .historia {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.img__histori {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-position: top;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.franytiti {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.franytiti .card {
  flex: 1 1 48%;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.franytiti .card__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-position: top;
  width: 100%;
  height: auto;
  display: block;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.galeriai {
  flex: 1 1 35%;
  margin: 10px;
}

.img__galeria {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.celebration {
  text-align: center;
  padding: 2rem;
}
.celebration .spotify {
  margin-bottom: 2rem;
}
.celebration .bandcamp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.celebration .bandcamp div {
  flex: 1 1 45%;
  max-width: 45%;
  margin-bottom: 1rem;
}
@media (max-width: 766px) {
  .celebration .bandcamp {
    flex-direction: column;
    align-items: center;
  }
  .celebration .bandcamp div {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.main_events {
  align-items: center;
  padding: 20px;
  margin: 20px;
}
.main_events .eventos {
  display: flex;
  flex-direction: column;
}
.main_events .contenedor-superior {
  display: flex;
}
.main_events .contenedor-superior img {
  flex: 30%;
  margin: 0 10px;
  transition: transform 1s;
}
.main_events .contenedor-superior img:hover {
  transform: scale(0.9);
}
.main_events .contenedor-superior table {
  flex: 50%;
  margin: 20px;
  text-align: center;
}
.main_events article {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.container_events .container h3 {
  margin-top: 40px;
}
.container_events .container img {
  flex: 30%;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 1s;
}
.container_events .container img:hover {
  transform: scale(0.9);
}
.container_events .container p {
  margin-top: 20px;
}

main .contact-section {
  padding: 1rem;
  color: white;
  margin: 0 auto;
}
main .contact-section .info_contact img {
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(245, 244, 244, 0.1);
  text-align: center;
  display: block;
  margin: 0 auto;
}
main .contact-section h4 {
  text-align: center;
}
main .contact-section form {
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(245, 244, 244, 0.1);
  color: #f0f0f0;
  align-content: center;
}
main .contact-section form .form-label {
  font-weight: bold;
  color: #eef0ec;
}
main .contact-section form .form-control, main .contact-section form .form-select {
  border-radius: 10px;
  border: 1px solid #feffca;
}
main .contact-section form button {
  background-color: #616160;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
}
main .contact-section form button:hover {
  background-color: #474747;
}
main .contact-section .info_contact img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(245, 244, 244, 0.1);
}

.head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-image: linear-gradient(#000000, rgb(75, 75, 75));
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.head .navbar .nav-link {
  color: white;
}
.head .navbar .nav-link:hover {
  color: gray;
}
.head .navbar .navbar-toggler {
  border-color: rgb(250, 247, 247);
}
.head .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
.head .redes {
  display: flex;
  justify-content: space-around;
  width: 200px;
  padding: 10px 20px;
}
.head .redes a:hover {
  transform: scale(1.5);
  color: #faf8f8;
}
.head .redes a {
  transition: 500ms;
}
.head .redes a:active {
  transform: scale(0.8);
}
.head .redes a i {
  font-size: 25px;
  color: #eeebeb;
}
@media (max-width: 360px) {
  .head .redes a i {
    font-size: 15px;
  }
}

.footer {
  background-image: linear-gradient(rgb(75, 75, 75), #000000);
  color: #fff;
  padding: 10px;
  justify-content: space-around;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-align: center;
}
.subscribe-form fieldset {
  flex: 1;
  margin-left: 20px;
  min-width: 500px;
  margin-right: 20px;
  font-size: 1rem;
}
.subscribe-form fieldset legend {
  font-size: 1rem;
}
.subscribe-form fieldset legend label {
  display: block;
  margin-bottom: 3px;
}
.subscribe-form fieldset .e-mail {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.subscribe-form fieldset input[type=submit] {
  background-color: #616160;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 2px 10px;
  transition: background-color 0.3s ease;
}
.subscribe-form fieldset input[type=submit]:hover {
  background-color: #474747;
  margin-top: 5px;
}
.subscribe-form .info-contact {
  flex: 1;
  min-width: 300px;
  align-items: center;
  margin: 0px 0;
  padding: 0px;
  width: 100%;
}
.subscribe-form .info-contact .address-link {
  display: flex;
  flex-direction: column;
}
.subscribe-form .info-contact .address-link h5 {
  margin-bottom: 0px;
}
.subscribe-form .info-contact .address-link h5 .contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.subscribe-form .info-contact .address-link h5 .contact-item i {
  margin-right: 10px;
  font-size: 24px;
  width: 500px;
}
.subscribe-form .info-contact .address-link a {
  margin-bottom: 5px;
  text-decoration: none;
  color: inherit;
}
.subscribe-form .info-contact .address-link a:hover {
  text-decoration: underline;
}

p {
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .subscribe-form {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .subscribe-form fieldset, .subscribe-form .info-contact {
    margin-right: 0;
    margin-bottom: 10px;
    min-width: auto;
    font-size: 0.75rem;
  }
  .subscribe-form fieldset legend, .subscribe-form .info-contact legend {
    font-size: 1rem;
  }
}
@media (max-width: 1000px) {
  .contenedor-superior {
    flex-direction: column;
    align-items: center;
  }
  .contenedor-superior img {
    flex: 100%;
    margin: 10px 0;
  }
  .contenedor-superior table {
    flex: 100%;
    margin: 10px 0;
  }
  article {
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  .main_start {
    height: 100vh;
    padding: 15px;
  }
  .header .redes a {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .top-image {
    width: 150px;
    height: 100vh;
  }
}
@media (min-width: 992px) {
  .top-image {
    width: 200px;
    height: 100vh;
  }
}
@media (max-width: 768px) {
  .main_start {
    height: 100vh;
    padding: 10px;
  }
  .header .navbar .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
}
@media (max-width: 576px) {
  .main_start {
    width: 100%;
    height: 100vh;
    padding: 5px;
    margin: 0 auto;
  }
  .header .navbar .navbar-nav .nav-item .nav-link {
    font-size: 0.8rem;
  }
  footer .suscribite fieldset {
    padding: 10px;
  }
  footer .suscribite fieldset legend {
    font-size: 1rem;
  }
  footer p {
    font-size: 0.8rem;
  }
}
@media (max-width: 480px) {
  .main_contact {
    padding: 5px;
  }
  footer {
    padding: 5px;
  }
}
@media (max-width: 768px) {
  .galeriai {
    flex: 1 1 100%;
  }
}

/*# sourceMappingURL=estilos.css.map */
